@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@800&family=Cabin&family=Dawning+of+a+New+Day&family=Libre+Barcode+39&family=Monoton&family=Playfair+Display:wght@600&family=Rock+3D&display=swap');

body {font-family: 'Baloo Da 2', cursive; }
h1 {color: #415136; font-family: 'Baloo Da 2', cursive; line-height: .85; }
h2 {color: #FFFFFF; font-family: 'Baloo Da 2', cursive;line-height: .85; font-size: 48px;}
h3 {color: #EFECC7; font-size:20px;}
p {text-align: center;font-family: 'Baloo Da 2', cursive;font-size: 16px;}

.topmenu
{margin-right: auto;
 margin-left:5%;
margin-top:8%;}

.topsearch
{margin-left:auto;
 margin-right:10%;}

.topcart
{margin-left:auto;
 margin-right:10%;}

.topsignin
{text-align:right;font-family: 'Baloo Da 2', cursive;
color: #415136;
font-size: 14px;
margin-right:5%;
margin-top: 8%}

.toplogo {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.banner {
text-align: center;
font-size: 14px;
color: #FFFFFF;
font-family: 'Baloo Da 2', cursive;
margin-left:auto;
 margin-right:auto;
margin-top:auto;
margin-bottom: auto;}

.hero-img {
  background-image: url("../images/banners/bannertop.png"), url("../images/banners/banner.jpg");
  height:600px;
  background-position: top left, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  position: relative;
  background-color: #AD8B5F;
  color:#FFFFFF;
  }


.welcome{
  padding-top:7%;
  padding-left:5%;
  padding-right:5%
}

.logo-space
  {padding-top:5%;
  padding-right:12%}
.ff-logo{
  max-width: 50%;
height: auto;
}

.emoji {
  margin-bottom:8px;
}

#rcorners0 {
  text-align: center;
  font-size: 20px;
  color: #111F22;
  border-radius: 50px;
  background: #EFECC7;
  padding: 10px;
  width: 250px;
  height: 50px;
 max-width: 100%;
 margin-left:auto;
  margin-right:auto;
 margin-top:auto;
 margin-bottom: auto;}

#rcorners1 {
  text-align: center;
  font-size: 20px;
  color: #111F22;
  border-radius: 50px;
  background: #EFECC7;
  padding: 10px;
  width: 250px;
  height: 50px;
 max-width: 100%;
 margin-left:auto;
  margin-right:auto;
 margin-top:auto;
 margin-bottom: auto;}

#rcorners2 {
  text-align: center;
  border-radius: 50px;
  background: #EFECC7;
  padding: 15px;
  width: 200px;
  height: 50px;
 max-width: 150%;}

 #rcorners02 {
   text-align: center;
   border-radius: 50px;
   background: #EFECC7;
   padding: 15px;
   width: 200px;
   height: 50px;
  max-width: 150%;
color:black;
margin-top:5%}

  #rcorners3 {
    text-align: left;
    border-radius: 50px 0px;
    background: #AD8B5F;
    padding-top:50px;
    padding-left: 75px;
    padding-right:75px;
    width: 900px;
    height: 550px;
   max-width: 150%;}

    #rcorners4 {
      text-align: left;
      border-radius: 50px 0px;
      background: #415136;
      padding-top:50px;
      padding-left: 75px;
      padding-right:75px;
      color:#EFECC7;
      width: 800px;
      height: 300px;
     max-width: 100%;}

     #rcorners5 {
       margin-left: auto;
       margin-right:auto;
       border-radius: 50px 0px;
       background: #AD8B5F;
       padding-top:2%;
       width: 1600px;
       height: 150px;
      max-width: 100%;
    color:#EFECC7}

      #rcorners6 {
  border-radius: 25px;
  border: 2px solid #EFECC7;
  padding-top: 5px;
  padding-left: 15px;
  width: 500px;
  height: 40px;
  margin-left: auto;
  margin-right:auto;
color:#EFECC7;
text-align: left;}


    .footer {
    background-color: #415136;
    background-size: cover;
  color:white;}

  .footertext{
    margin-top:2.25%;
    font-size:12px}

  .footericons{
    margin-top: 2%
  }
.twitter
{}
  .insta
  {margin-left:10%;}

  .youtube
  {margin-left:10%;}

  .facebook
  {margin-left:10%;}
